/*=============== VIDEO ===============*/
.schedule__container {
    padding-bottom: 1rem;
}

.schedule__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.schedule__title {
    text-align: center;
}

.schedule__container > * {
    padding-bottom: 15px;
}

/*form error*/
.form-error {
    border: 2px solid #e74c3c;
}
